/* * ============================== */
/* *    ======= General =======     */
/* * ============================== */

* {
  padding: 0;
  margin: 0;
}

/* * ============================== */
/* *    ======= Cuerpo =======      */
/* * ============================== */

body {
  background-color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#titulo {
  justify-content: center;
  background-color: #333;
  color: white;
  font-size: 2rem;
  height: 70px;
  width: auto;
}

/* * ============================== */
/* *  =======     Menú      ======= */
/* * ============================== */

#navegador {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 1.2em;
  padding: 2rem 0;
}

#navegador li {
  margin: 0px 5px 5px 0px;
  padding: 0.1em 1em 0.5em 1em;
  background-color: black;
  width: 13%;
  float: left;
  list-style: none;
  position: relative;
  border-radius: 15px;
}

/* * ============================== */
/* * ======= Menú:sombreado ======= */
/* * ============================== */

#navegador li :hover {
  background-color: rgb(20, 20, 20);
}

#navegador li a:link,
#navegador li a:visited {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

#navegador li a:hover,
#navegador li a:active {
  color: rgb(189, 189, 189);
  text-decoration: none;
  transition: 0.4s;
}

#submenu1,
#submenu2 {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: black;
  font: normal 00.8em arial;
  padding: 0.2em 0.5em;
  display: none;
}

/* * ============================== */
/* * =======  Contenedores  ======= */
/* * ============================== */

.contenedor1 {
  width: 500px;
  height: 400px;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: 50px;
  text-align: justify;
  float: left;
}

.contenedor2 {
  width: 700px;
  height: 400px;
  border-radius: 8px;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: 50px;
  text-align: justify;
  float: left;
}

.imagen {
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

/* * ============================== */
/* *  =======     Letras    ======= */
/* * ============================== */
h2 {
  color: yellow;
  margin-left: 10px;
  padding-left: 10px;
  letter-spacing: 2px;
}

article {
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  margin: 5px;
  justify-content: center;
  padding: 15px;
}

/* * ============================== */
/* * ====== Imagen 360 giro ======= */
/* * ============================== */
.carta {
  position: relative;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  transform-style: preserve-3d;
}

.fit {
  width: 172px;
  height: 218px;
}

.frente,
.espalda {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
